/* .app1{
    top:80px;
}

.bg-light > div {
    padding: 1em;
}
.admin{
    padding: 20px;
    text-align: center;
    font-weight: bold;
    margin: 10px;
} */
/* Apanel css use any time if u want */